<nav class="shadow px-3">
  <div class="flex justify-between items-center py-1">
    <div>
      <img ngSrc="assets/images/logo.png" alt="logo" width="50" height="50" />
    </div>
    <div>
      <img
        id="avatarButton"
        type="button"
        data-dropdown-toggle="userDropdown"
        data-dropdown-placement="bottom-start"
        class="w-10 h-10 rounded-full cursor-pointer"
        ngSrc="assets/images/unknown.png"
        alt="User"
        width="10"
        height="10"
      />

      <!-- Dropdown menu -->
      <div
        id="userDropdown"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
      >
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
          <div>{{ userData.name }}</div>
          <div class="font-medium truncate">{{ userData.email }}</div>
        </div>
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="avatarButton"
        ></ul>
        <div class="py-1">
          <div
            (click)="logout()"
            class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
          >
            تسجيل الخروج
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
