<section>
  <app-heading message="الحجوزات"></app-heading>

  @if (reservations) { @if (reservations.length == 0) {
  <p class="text-center">لا توجد بيانات</p>
  } @else {
  <div class="table-container">
    <table>
      <thead>
        <th>اسم المريض</th>
        <th>رقم الجوال</th>
        <th>البريد الإلكتروني</th>
        <th>تاريخ الحجز</th>
        <th>وقت الحجز</th>
        <th>رابط الاجتماع</th>
      </thead>
      <tbody>
        @for (res of reservations; track res.id) {
        <tr>
          <td>{{ res.patient_name }}</td>
          <td>{{ res.patient_phone }}</td>
          <td>{{ res.patient_email }}</td>
          <td>{{ res.date }}</td>
          <td>{{ res.time }}</td>
          <td><button (click)="copy(res.meeting_url)">نسخ الرابط</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } }
</section>
@if (errorMessage) {
<app-error-message [message]="errorMessage"></app-error-message>
} @if (successMessage) {
<app-success-message [message]="successMessage"></app-success-message>
}
